USE [master]
GO
/****** Object:  Database [DB_BibliotecaOruam]    Script Date: 11/12/2024 12:21:58 ******/
CREATE DATABASE [DB_BibliotecaOruam]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_BibliotecaOruam', FILENAME = N'D:\apps\SQL server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DB_BibliotecaOruam.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_BibliotecaOruam_log', FILENAME = N'D:\apps\SQL server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DB_BibliotecaOruam_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_BibliotecaOruam].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_BibliotecaOruam]
GO
/****** Object:  Table [dbo].[Alugueis]    Script Date: 11/12/2024 12:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alugueis](
	[aluguel_id] [int] IDENTITY(1,1) NOT NULL,
	[pessoa_id] [int] NULL,
	[computador_id] [int] NULL,
	[data_aluguel] [date] NULL,
	[data_devolucao] [date] NULL,
	[preco] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[aluguel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compras]    Script Date: 11/12/2024 12:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[compra_id] [int] IDENTITY(1,1) NOT NULL,
	[pessoa_id] [int] NULL,
	[livro_id] [int] NULL,
	[data_compra] [date] NULL,
	[quantidade] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[compra_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Computadores]    Script Date: 11/12/2024 12:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Computadores](
	[computador_id] [int] IDENTITY(1,1) NOT NULL,
	[numero_serie] [varchar](50) NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[computador_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[numero_serie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcionarios]    Script Date: 11/12/2024 12:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionarios](
	[funcionario_id] [int] IDENTITY(1,1) NOT NULL,
	[pessoa_id] [int] NULL,
	[cargo] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[funcionario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Livros]    Script Date: 11/12/2024 12:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Livros](
	[livro_id] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](255) NULL,
	[autor] [varchar](100) NULL,
	[editora] [varchar](100) NULL,
	[ano_publicacao] [int] NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[livro_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pendencias]    Script Date: 11/12/2024 12:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pendencias](
	[pendencia_id] [int] IDENTITY(1,1) NOT NULL,
	[pessoa_id] [int] NULL,
	[descricao] [varchar](255) NULL,
	[status] [varchar](20) NULL,
	[data_pendencia] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[pendencia_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pessoas]    Script Date: 11/12/2024 12:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pessoas](
	[pessoa_id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NULL,
	[cpf] [varchar](14) NULL,
	[tipo] [varchar](20) NULL,
	[email] [varchar](100) NULL,
	[telefone] [varchar](15) NULL,
	[endereço] [varchar](255) NULL,
	[data_nascimento] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[pessoa_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cpf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alugueis]  WITH CHECK ADD FOREIGN KEY([computador_id])
REFERENCES [dbo].[Computadores] ([computador_id])
GO
ALTER TABLE [dbo].[Alugueis]  WITH CHECK ADD FOREIGN KEY([pessoa_id])
REFERENCES [dbo].[Pessoas] ([pessoa_id])
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD FOREIGN KEY([livro_id])
REFERENCES [dbo].[Livros] ([livro_id])
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD FOREIGN KEY([pessoa_id])
REFERENCES [dbo].[Pessoas] ([pessoa_id])
GO
ALTER TABLE [dbo].[Funcionarios]  WITH CHECK ADD FOREIGN KEY([pessoa_id])
REFERENCES [dbo].[Pessoas] ([pessoa_id])
GO
ALTER TABLE [dbo].[Pendencias]  WITH CHECK ADD FOREIGN KEY([pessoa_id])
REFERENCES [dbo].[Pessoas] ([pessoa_id])
GO
USE [master]
GO
