USE [master]
GO
/****** Object:  Database [DB_Musicas]    Script Date: 11/12/2024 11:14:46 ******/
CREATE DATABASE [DB_Musicas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_Musicas', FILENAME = N'D:\apps\SQL server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DB_Musicas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_Musicas_log', FILENAME = N'D:\apps\SQL server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DB_Musicas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Musicas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Musicas]
GO
/****** Object:  Table [dbo].[Albuns]    Script Date: 11/12/2024 11:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Albuns](
	[AlbumID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[ArtistaID] [int] NOT NULL,
	[AnoLancamento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AlbumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Artistas]    Script Date: 11/12/2024 11:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artistas](
	[ArtistaID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Nacionalidade] [nvarchar](50) NULL,
	[CPF] [nvarchar](14) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ArtistaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CPF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musicas]    Script Date: 11/12/2024 11:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musicas](
	[MusicaID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[ArtistaID] [int] NOT NULL,
	[AlbumID] [int] NULL,
	[Duracao] [time](7) NOT NULL,
	[Genero] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MusicaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 11/12/2024 11:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[PrimeiroNome] [nvarchar](100) NOT NULL,
	[SegundoNome] [nvarchar](100) NOT NULL,
	[CPF] [nvarchar](14) NOT NULL,
	[Nacionalidade] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Senha] [nvarchar](255) NOT NULL,
	[DataCadastro] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CPF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [DataCadastro]
GO
ALTER TABLE [dbo].[Albuns]  WITH CHECK ADD  CONSTRAINT [FK_ArtistaID] FOREIGN KEY([ArtistaID])
REFERENCES [dbo].[Artistas] ([ArtistaID])
GO
ALTER TABLE [dbo].[Albuns] CHECK CONSTRAINT [FK_ArtistaID]
GO
ALTER TABLE [dbo].[Musicas]  WITH CHECK ADD  CONSTRAINT [FK_AlbumID] FOREIGN KEY([AlbumID])
REFERENCES [dbo].[Albuns] ([AlbumID])
GO
ALTER TABLE [dbo].[Musicas] CHECK CONSTRAINT [FK_AlbumID]
GO
ALTER TABLE [dbo].[Musicas]  WITH CHECK ADD  CONSTRAINT [FK_Musicas_ArtistaID] FOREIGN KEY([ArtistaID])
REFERENCES [dbo].[Artistas] ([ArtistaID])
GO
ALTER TABLE [dbo].[Musicas] CHECK CONSTRAINT [FK_Musicas_ArtistaID]
GO
USE [master]
GO
